# BlockDesign files
bd/*/**/*.*
!bd/*/**/*.prj
!bd/*/*.bd

# IP Core files
ip/*/**/*.*
!ip/*/*.xci
!ip/*/*.prj

# Vivado project outputs
project/**/*.*
!project/*.xpr

# Misc
temp/

# Vivado logs
*.log
*.jou
